/* ================== Desktop Base CSS  ================== */

.wsmenu html,
.wsmenu body,
.wsmenu iframe,
.wsmenu h1,
.wsmenu h2,
.wsmenu h3,
.wsmenu h4,
.wsmenu h5,
.wsmenu h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: antialiased;
    font-smooth: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    font-smooth: subpixel-antialiased;
}

.wsmenu .cl {
    clear: both;
}

.wsmenu img,
object,
embed,
video {
    border: 0 none;
    max-width: 100%;
    padding: 0px 8px;
}

.wsmenu a:focus {
    outline: none;
}

.wsmenu:before,
.wsmenu:after {
    content: "";
    display: table;
}

.wsmenu:after {
    clear: both;
}


/* ================== Desktop Main Menu CSS ================== */

.headerfull {
    width: 100%;
    /*  height: 60px;*/
    position: relative;
    /*  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);*/
    background: #ffffff;
    /*height: 500px;*/
    background-size: cover;
}

.smllogo {
    /*  padding: 9px 0px 0 16px;*/
    margin: 0;
    float: left;
    /*  width: 6%;*/
    padding: 0px;
    height: 75px;
    position: relative;
    z-index: 9999;
}

.smllogo a {
    display: block;
    /*float: left;*/
    padding: 0;
}

.wsmain {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px;
    /*  padding: 0 25px;*/
    /*  max-width: 1300px;*/
}

.wsmenu {
    width: 94%;
    /*  float: left;*/
    font-family: Helvetica, sans-serif;
    color: #fff;
    position: relative;
    font-size: 13px;
    padding: 0;
    display: block;
    margin: 0;
}

.wsmenu>.wsmenu-list {
    /*  text-align: left;*/
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
}

.wsmenu>.wsmenu-list>li {
    /*  display: block;
  float: left;*/
    display: inline-block;
    padding: 0;
    padding-top: 0px;
    vertical-align: middle;
}

.wsmenu>.wsmenu-list>li>.navtext {
    line-height: 16px;
    text-align: right;
    padding: 14px 13px;
    /*  padding: 14px 20px;*/
    margin: 0px;
}

.wsmenu>.wsmenu-list>li>a {
    display: block;
    text-decoration: none;
    position: relative;
}

.wsmenu>.wsmenu-list>li>.navtext>span+span:after {
    content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: 100;
    line-height: 10px;
    margin-left: 1px;
    position: relative;
    /*  right: -8px;*/
    right: -1px;
    text-align: right;
    top: 1px;
}

.wsmenu>.wsmenu-list>li>.navtext>span {
    display: block;
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    /* line-height: 16px;*/
    line-height: 28px;
}

.wsmenu>.wsmenu-list>li>.navtext>span+span {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Heebo';
}

.wsmenu>.wsmenu-list>li a:hover .arrow:after {
    border-top-color: #b3b3b3
}

.wsmenu>.wsmenu-list>li a.active .arrow:after {
    border-top-color: #b3b3b3
}

.wsmenu>.wsmenu-list>li:hover>a .arrow:after {
    border-top-color: #b3b3b3
}


/* Main Search Bar CSS*/

.wsmenu>.wsmenu-list>li.wssearchbar {
    width: 40%;
    float: left;
    padding-left: 15px;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch {
    float: right;
    width: 100%;
    height: 42px;
    position: relative;
    margin: 9px 0 0 0;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>.searchicon {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input {
    width: 100%;
    position: relative;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    font-size: 12px;
    height: 42px;
    z-index: 2;
    outline: none;
    color: #7d7d7d;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input:focus~.btnstyle {
    color: #fff;
    opacity: 0.9;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input:focus~.searchicon {
    opacity: 1;
    z-index: 3;
    color: #FFFFFF;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>.btnstyle {
    top: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 49px;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
    z-index: 1000;
    border: solid 0px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>.btnstyle>.fa {
    line-height: 38px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #9c9c9c;
}


/* My Account Dropdown */

.wsmenu>.wsmenu-list>li>ul.sub-menu {
    position: absolute;
    top: 67px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    min-width: 190px;
    background-color: #fff;
    border: solid 1px #eeeeee;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a {
    background-image: none;
    color: #666666;
    border-right: 0 none;
    text-align: left;
    display: block;
    line-height: 22px;
    padding: 8px 12px;
    text-transform: none;
    font-size: 13px;
    letter-spacing: normal;
    border-right: 0px solid;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover {
    text-decoration: none;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a>.fa {
    margin-right: 9px;
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount {
    float: right;
    padding-top: 5px;
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
    display: block;
    padding: 0 24px 0 24px;
    /*   line-height: 63px;*/
    text-decoration: none;
    position: relative;
}

.wsmenu>.wsmenu-list>.wsshopmyaccount>a .fa.fa-angle-down {
    display: inline-block;
    font-size: 13px;
    line-height: inherit;
    margin-left: 8px;
    color: #7b7b7b;
}

.wsmenu>.wsmenu-list>.wsshopmyaccount>a .fa {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    margin-right: 11px;
    vertical-align: middle;
}


/* Main Menu Cart Icon*/

.wsmenu>.wsmenu-list>li.wscarticon {
    float: right;
    clear: right;
}

.wsmenu>.wsmenu-list>li.wscarticon>a {
    display: block;
    color: #828181;
    padding: 0 26px 0 22px;
    line-height: 60px;
    text-decoration: none;
    position: relative;
}

.wsmenu>.wsmenu-list>li.wscarticon .hidetxt {
    display: none;
}

.wsmenu>.wsmenu-list>li.wscarticon a {
    padding: 0 27px 0 23px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.wsmenu>.wsmenu-list>li.wscarticon a .fa {
    font-size: 15px;
}

.wsmenu>.wsmenu-list>li.wscarticon em.roundpoint {
    position: absolute;
    top: 14px;
    right: 21px;
    width: 17px;
    height: 17px;
    background-color: #DA4B38;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    font-style: normal;
    line-height: 16px;
    color: #fff;
}

.wsmenu>.wsmenu-list>.wsshopmenu>a .fa.fa-shopping-basket {
    display: inline-block;
    font-size: 13px;
    line-height: inherit;
    margin-right: 8px;
    color: #7b7b7b;
}


/* ================== Desktop Tabing Mega Menus CSS  ================== */


/* Mega Menu Content Formatting */

.carousel-caption {
    width: 100%;
    display: block;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.carousel-caption h3 {
    width: 100%;
    display: block;
    padding: 7px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.wsmenu>.wsmenu-list>li .wstbootslider {
    float: right;
    margin-top: 8px;
}

.wsmenu>.wsmenu-list>li .wstmegamenucolr {
    display: block;
    float: right;
    margin-top: 8px;
}

.wsmenu>.wsmenu-list>li .wstheading {
    width: 100%;
    display: block;
    /*  padding: 10px 0px 6px 0px;*/
    padding: 1px 0px 6px 27px;
    font-size: 15px;
    margin-bottom: 2px;
    font-family: 'Lato';
    margin-top: 23px;
    color: #384257;
    font-weight: 700;
}

.wsmenu>.wsmenu-list>li .wstliststy01 {
    padding: 0px 0px 8px 0px;
    margin: 0px;
}

.interview-li ul {
    padding: 0px 0px 24px 18px !important;
}

.wsmenu>.wsmenu-list>li .wstliststy01 li {
    width: 33.33%;
    float: left;
    line-height: 23px;
    font-size: 14px;
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.test2 {
    color: #12a3ff;
}

.interview-li a {
    font-size: 12px !important;
    color: #6d7483 !important;
    font-weight: 400 !important;
    font-family: "Lato";
}

.interview-li li {
    line-height: 25px !important;
}

.interview-li2 ul {
    list-style: none;
    border-right: 1px solid #f6f6f6;
}

.interview-li li {
    list-style: none;
    padding: 3px 0px;
}

.interview-li li a:hover {
    color: #00acee !important;
}

.videos li {
    list-style: none;
    padding-top: 17px;
    /*line-height: 38px !important;*/
}

.videos li a {
    text-transform: uppercase;
}

.videos {
    background: #fafafa;
}

.videos li:first-child {
    padding-top: 0px;
}

ul.wstliststy06 {
    list-style-type: circle;
    color: #4e4e4e;
}

.wsmenu>.wsmenu-list>li .wstliststy01 li a {
    color: #6e6e6e;
    font-size: 12px;
}

.wsmenu>.wsmenu-list>li .wstliststy01 li a:hover {
    color: #000;
    text-decoration: none;
}

.wsmenu>.wsmenu-list>li .wstliststy02 {
    padding: 5px 0px 10px 0px;
    margin: 0px;
    text-align: left;
}

.wsmenu>.wsmenu-list>li .wstliststy02 li {
    width: 100%;
    list-style: none;
    line-height: 25px;
}

.wsmenu>.wsmenu-list>li .wstliststy02 li a {
    color: #6e6e6e;
    font-size: 12px;
}

.wsmenu>.wsmenu-list>li .wstliststy02 li a:hover {
    color: #000;
    text-decoration: none;
}

.wsmenu>.wsmenu-list>li .wstliststy02 li.wstheading {
    line-height: normal;
    padding-left: 0px;
    margin-top: 0px;
    text-transform: none;
}

.wsmenu>.wsmenu-list>li .wstliststy02 li a .wstcount {
    font-size: 10px;
    color: #adadad;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li.wstheading {
    line-height: normal;
    padding-left: 10px;
}

.wsmenu>.wsmenu-list>li .wstliststy06 {
    padding: 25px 0px 24px 0px;
    margin: 0px;
    padding-left: 18px;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li {
    width: 100%;
    /*  line-height: 33px;*/
}

.wsmenu>.wsmenu-list>li .wstliststy06 li a {
    font-size: 15px;
    font-family: 'Lato';
    color: #384257;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li i {
    font-size: 10px;
    padding: 0px 8px;
}

.videos li a {
    font-weight: 700 !important;
}

.blue {
    color: #0d5a88 !important;
}

.blue2 {
    color: #01befe !important;
}

.green2 {
    color: #1b9e76 !important;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li a:hover {
    color: #00acee !important;
    text-decoration: none;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li.wstheading {
    line-height: normal;
}

.wsmenu>.wsmenu-list>li .wstliststy06 li a .wstcount {
    font-size: 10px;
    color: #adadad;
}

.wsmenu>.wsmenu-list>li .wstliststy03 {
    width: 100%;
    padding: 0px 0px 8px 0px;
    margin: 0px;
}

.wsmenu>.wsmenu-list>li .wstliststy03 li {
    width: 33.33%;
    float: left;
    line-height: 23px;
    font-size: 14px;
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.wsmenu>.wsmenu-list>li .wstliststy03 li a {
    color: #6e6e6e;
    font-size: 12px;
}

.wsmenu>.wsmenu-list>li .wstliststy03 li a:hover {
    color: #000;
    text-decoration: none;
}

.wsmenu>.wsmenu-list>li .wstliststy04 {
    padding: 14px 0px 0px 0px;
    margin: 0px;
}

.wsmenu>.wsmenu-list>li .wstliststy04 li {
    width: 100%;
    list-style: none;
    line-height: 22px;
}

.wsmenu>.wsmenu-list>li .wstliststy04 li a {
    color: #6e6e6e;
    font-size: 12px;
}

.wsmenu>.wsmenu-list>li .wstliststy04 li a:hover {
    color: #000;
    text-decoration: none;
}


/* ================== Desktop Mega Menus CSS  ================== */

.wsmenu>.wsmenu-list>li>.wsmegamenu {
    /*  width: 100%;*/
    /*  left: 0px;*/
    width: 51%;
    left: 21.5%;
    position: absolute;
    /*   top: 74px;*/
    color: #000;
    z-index: 1000;
    margin: 0px;
    text-align: left;
    /*   padding: 14px 5px;*/
    font-size: 15px;
    border: solid 1px #eeeeee;
    background-color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .title {
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    padding: 9px 5px 9px 0px;
    font-size: 17px;
    color: #424242;
    margin: 0px 0px 7px 0px;
    text-align: left;
    height: 39px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li {
    display: block;
    text-align: center;
    white-space: nowrap;
    text-align: left;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li a {
    line-height: 18px;
    border-right: none;
    text-align: left;
    padding: 6px 0px;
    background: #fff;
    background-image: none;
    color: #666666;
    border-right: 0 none;
    display: block;
    background-color: #fff;
    color: #424242;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
    margin-right: 5px;
    text-align: center;
    width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li a:hover {
    background: transparent;
    /*  text-decoration: underline;*/
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li .fa {
    font-size: 11px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
    margin-right: 5px;
    text-align: center;
    width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .mrgtop {
    margin-top: 15px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .show-grid div {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #dbdbdb;
    border: 1px solid #e7e7e7;
    color: #6a6a6a;
    margin: 2px 0px;
    font-size: 13px;
}


/* ================== Desktop Half Menus CSS  ================== */

.wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
    /*  width: 40%;*/
    width: 100%;
    right: auto;
    top: 65px;
    border: 1px solid rgb(225, 226, 228);
    /*  border-bottom-left-radius: 5px 5px;*/
    box-shadow: 0px 6px 12.09px 0.91px rgba(0, 0, 0, 0.22);
    /*  border-bottom-right-radius: 5px 5px;*/
    border-radius: 7px;
    /*  left: auto;*/
}

.Rectangle_1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 226, 228);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 12.09px 0.91px rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 630px;
    top: 77px;
    width: 1167px;
    height: 521px;
    z-index: 2;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu.halfdiv {
    width: 35%;
    right: 0px;
    left: auto;
}


/* ================== Desktop Extra CSS ================== */

.wsmobileheader {
    display: none;
}

.overlapblackbg {
    opacity: 0;
    visibility: hidden;
}

.wsmenu .wsmenu-click {
    display: none;
}

.wsmenu .wsmenu-click02 {
    display: none;
}

.wsmenu .wsmenu-click03 {
    display: none;
}

.hometext {
    display: none;
}


/*==============================================================================
                              Start Mobile CSS
===============================================================================*/


/* ================== Mobile Menu Change Brake Point ================== */

@media only screen and (max-width: 991px) {

    /* ================== Mobile Base CSS ================== */
    html {
        overflow: hidden;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    body.wsactive {
        overflow: hidden;
    }

    /* ================== Mobile Main Menu CSS ================== */
    .smllogo {
        display: none;
    }

    .wss i {
        color: #01befe;
        font-size: 17px;
        padding: 12px 3px;
    }

    .wsmain {
        margin: 0px;
        background-color: transparent;
    }

    .wsmenu {
        width: 100%;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 0;
        overflow-y: hidden;
        padding: 0;
        top: 0;
        visibility: hidden;
        position: fixed;
        margin: 0px;
        border-left: none;
    }

    .wsmenu>.wsmenu-list {
        height: auto;
        min-height: 100%;
        width: 260px;
        background: #fff;
        padding-bottom: 0;
        margin-left: -285px;
        display: block;
        text-align: center;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        position: static;
        margin-top: 49px;
    }

    .wsmenu>.wsmenu-list>li {
        width: 100%;
        display: block;
        float: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        white-space: inherit;
    }

    .wsmenu>.wsmenu-list>li>a {
        padding: 9px 32px 9px 18px;
        font-size: 14px;
        text-align: left;
        border-right: solid 0px;
        background-color: transparent;
        line-height: 25px;
        position: static;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .wsmenu>.wsmenu-list>li>.navtext {
        padding-left: 18px;
    }

    .wsmenu>.wsmenu-list>li.wscarticon a {
        padding-left: 18px;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
        padding-left: 18px;
    }

    .wsmenu>.wsmenu-list>li>a>.fa {
        font-size: 16px;
        color: #bfbfbf;
    }

    .wsmenu>.wsmenu-list>li.wscarticon a .fa {
        margin-right: 7px;
    }

    .wsmenu>.wsmenu-list>li>a .wsarrow:after {
        display: none;
    }

    .wsmenu>.wsmenu-list>li.wscarticon em.roundpoint {
        display: inline-block;
        right: auto;
        left: 27px;
    }

    .wsmenu>.wsmenu-list>li:hover>a {
        /*background-color: rgba(0, 0, 0, 0.08);*/
        text-decoration: none;
    }

    .wsmenu>.wsmenu-list>li>a>.hometext {
        display: inline-block;
    }

    .wsmenu>.wsmenu-list>li.wscarticon .hidetxt {
        display: inline-block;
    }

    .wsmenu>.wsmenu-list>li.wssearchbar {
        display: none;
    }

    .wsmenu .wsmenu-list>li.wsshopmyaccount>a>.fa-angle-down {
        display: none;
    }

    .wsmenu>.wsmenu-list>li.wscarticon {
        float: none;
    }

    .wsmenu>.wsmenu-list>li.wsshopmyaccount {
        float: none;
    }

    .wsmenu>.wsmenu-list>li.wscarticon a {
        text-align: left;
    }

    /* ================== Mobile Dropdown CSS ================== */
    .wsmenu>.wsmenu-list>li>ul.sub-menu {
        display: none;
        position: relative;
        top: 0px;
        background-color: #fff;
        border-bottom: solid 1px #ccc;
        padding: 0px;
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        transition: inherit;
        -webkit-transform-style: flat;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu>li>a {
        line-height: 20px;
        font-size: 13px;
        padding: 13px 0px 13px 16px;
        color: #6e6e6e;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu>li span+a {
        padding-right: 30px;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover {
        background-color: #e7e7e7;
        color: #666666;
        text-decoration: underline;
    }

    .wsmenu>.wsmenu-list>li>ul.sub-menu li:hover>a {
        background-color: #e7e7e7;
        color: #666666;
    }

    /* ================== Mobile Mega Menu CSS  ================== */
    .wsmenu>.wsmenu-list>li>.wsmegamenu {
        background-color: #fff;
        padding-top: 5px;
        color: #666666;
        display: none;
        position: relative;
        top: 0px;
        padding: 8px 0px 8px 0px;
        border: solid 0px;
        opacity: 1;
        visibility: visible;
        transform: none;
        -o-transform: none;
        left: 0px;
        -moz-transform: none;
        -webkit-transform: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        -webkit-transform-style: flat;
        /*  margin: 61px auto;*/
    }

    .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
        width: 100%;
        box-shadow: none;
        border: none;
    }

    /* ================== Mobile Header CSS ================== */
    .wsmobileheader {
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        margin: 0px 0px;
        padding: 5px 0px;
        left: 0;
        z-index: 10002;
        /*   height: 60px;*/
        background-color: #ffffff;
        text-align: center;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .wsactive .wsmobileheader {
        /*margin-left: 260px;*/
        margin-left: 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .wsmobileheader>.smllogo {
        display: block;
        /*   width: 80px;*/
        /*   margin: 7px auto 0px auto;*/
        float: none;
        padding-left: 0px;
        margin-left: 15%;
    }

    .smllogo {
        width: 50%;
        height: 49px;
    }

    .mobiletext {
        display: inline-block;
    }

    /*Mobile Search Bar*/
    .wsmobileheader .wss {
        background-color: transparent;
        z-index: 1000;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px 6px;
        cursor: pointer;
    }

    .wsmobileheader .wssearch .fa {
        font-size: 19px;
        color: #9196a0;
    }

    .wsmobileheader .wssearchform {
        display: none;
        position: absolute;
        width: 100%;
        height: 50px;
        line-height: 44px;
        top: 0px;
        left: 0;
        padding: 13px 15px;
        cursor: default;
    }

    .wsmobileheader .wssearch.wsopensearch {
        width: 100%;
        background-color: #000;
    }

    .wsmobileheader .wssearch.wsopensearch .wssearchform {
        display: block;
    }

    .wsmobileheader .wssearchform form {
        width: calc((100% - 10px) - 45px);
        display: block;
        position: relative;
    }

    .wsmobileheader .wssearchform form:before {
        content: "\f002";
        font-family: FontAwesome;
        left: 12px;
        position: absolute;
        top: 0;
        color: #777777;
        height: 34px;
        line-height: 33px;
    }

    .wsmobileheader .wssearchform input {
        width: 100%;
        height: 34px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: solid 0px;
        text-indent: 33px;
        margin: 0px;
        line-height: 18px;
        padding: 0px;
        display: block;
    }

    .wsmobileheader .wssearch.wsopensearch {
        left: 0px;
        right: auto;
        width: 100%;
        height: 60px;
    }

    .wsmobileheader .wssearch .fa-times {
        display: none;
    }

    .wsmobileheader .wssearch.wsopensearch .fa-times {
        display: inline-block;
        float: right;
        font-size: 22px;
    }

    .wsmobileheader .wssearch.wsopensearch .fa-search {
        display: none;
    }

    /* Mobile Toggle Menu icon (X ICON) */
    .wsanimated-arrow {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 102;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .wsanimated-arrow {
        cursor: pointer;
        padding: 31px 38px 20px 10px;
    }

    .wsanimated-arrow span,
    .wsanimated-arrow span:before,
    .wsanimated-arrow span:after {
        cursor: pointer;
        height: 2px;
        width: 17px;
        background: #01befe;
        position: absolute;
        display: block;
        content: '';
    }

    .wsanimated-arrow span:before {
        top: -7px;
        width: 23px;
    }

    .wsanimated-arrow span:after {
        bottom: -7px;
        width: 17px;
    }

    .wsanimated-arrow span,
    .wsanimated-arrow span:before,
    .wsanimated-arrow span:after {
        transition: all 500ms ease-in-out;
    }

    .wsactive .wsanimated-arrow span:after {
        width: 23px;
    }

    .wsactive .wsanimated-arrow span {
        background-color: transparent;
    }

    .wsactive .wsanimated-arrow span:before,
    .wsactive .wsanimated-arrow.active span:after {
        top: 7px;
    }

    .wsactive .wsanimated-arrow span:before {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        bottom: 0px;
    }

    .wsactive .wsanimated-arrow span:after {
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    /* ================== Mobile Overlay/Drawer CSS ================== */
    .wsmenu>.overlapblackbg {
        right: 0;
        width: calc(100% - 260px);
        height: 100vh;
        min-height: 100%;
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
        background-color: #ffffff;
        cursor: pointer;
    }

    .wsactive .wsmenu>.overlapblackbg {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 1.5s ease-in-out;
        -moz-transition: opacity 1.5s ease-in-out;
        -ms-transition: opacity 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out;
    }

    .wsmenucontainer {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .wsactive .wsmenucontainer {
        /* margin-left: 260px;*/
        margin-left: 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .wsmenu>.wsmenu-list>li:hover {
        background: none;
    }

    .navtext::after {
        display: none !important;
    }

    .wsactive .wsmenu {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        visibility: visible;
        z-index: 1000;
        top: 0;
    }

    .wsactive .wsmenu>.wsmenu-list {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        margin-left: 0;
    }

    /* ================== Mobile Sub Menu Expander Arrows  ================== */
    .wsmenu>.wsmenu-list>li>.wsmenu-click {
        cursor: pointer;
        display: block;
        height: 58px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click>i {
        display: block;
        height: 23px;
        width: 25px;
        margin-top: 18px;
        margin-right: 13px;
        background-size: 25px;
        font-size: 17px;
        float: right;
        text-align: center;
        color: #01befe;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click.ws-activearrow>i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .wsmenu .wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>.wsmenu-click02 {
        border-left: 1px solid #f3f3f3;
        cursor: pointer;
        display: block;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        width: 49px;
        z-index: 10;
        background-color: #f5f5f5;
    }

    .wsmenu .wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>.wsmenu-click02 i {
        display: block;
        height: 23px;
        width: 34px;
        margin-top: 11px;
        margin-right: 8px;
        background-size: 25px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.25);
        float: right;
        text-align: center;
    }

    .wsmenu .wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>.wsmenu-click02.ws-activearrow02>i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .wsmenu .wsmenu-list>li>.wtsbrandmenu>.wsshoptabingwp>.wstabitem02>li>.wsmenu-click03 {
        border-left: 1px solid #f3f3f3;
        cursor: pointer;
        display: block;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        width: 49px;
        z-index: 10;
        background-color: #f3f3f3;
    }

    .wsmenu .wsmenu-list>li>.wtsbrandmenu>.wsshoptabingwp>.wstabitem02>li>.wsmenu-click03 i {
        display: block;
        height: 23px;
        width: 34px;
        margin-top: 11px;
        margin-right: 8px;
        background-size: 25px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.25);
        float: right;
        text-align: center;
    }

    .wsmenu .wsmenu-list>li>.wtsbrandmenu>.wsshoptabingwp>.wstabitem02>li>.wsmenu-click03.ws-activearrow03>i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    /*End Media Query*/
}


/* Extra @Media Query*/

@media only screen and (min-width: 992px) and (max-width:1262px) {
    .wsmenu>.wsmenu-list>li.wssearchbar {
        width: 21%;
    }

    .smllogo {
        width: 28%;
        height: 60px;
    }

    .menu-other {
        width: 70% !important;
    }

    .wsmenu {
        width: 93%
    }
}


/*.wsmenu>.wsmenu-list>li {
   display: block !important;   
}

.wsmenu>.wsmenu-list>li:hover {
   display: block !important;   
}*/

@media (min-width: 481px) and (max-width: 767px) {
    .wsmenu>.wsmenu-list>li>.wsmegamenu {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.wsmegamenu {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }

    .wsmenu>.wsmenu-list>li:hover>.sub-menu2 {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
    }
}